<!-- Modal -->
<div class="modal fade" id="privacyModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Privacy Policy</h4>
      </div>
      <div class="modal-body">
        <p class="modal-text"> 
          Last Revised: September 6, 2016
          </br>
          Valyrian Media, Inc. ("Valyrian" "we" or "us") is the owner and operator of the Sites and the provider of the Services. Valyrian respects your privacy, and we created this privacy policy (the "Policy") to explain how we collect, use and disclose your information when you access the Sites and use the Services. The Policy is only applicable to our Sites, and our Services and not to any other website, service or online platform. Capitalized terms that are not defined in this Policy have the meaning given them in our Terms of Service. BY ACCESSING THE SITE, UTILIZING ANY OF THE SERVICES AND/OR REGISTERING WITH US, YOU SIGNIFY THAT YOU HAVE READ, UNDERSTOOD AND AGREE TO BE BOUND BY THIS POLICY, INCLUDING OUR TERMS OF SERVICE, WHICH ARE INCORPORATED HEREIN BY REFERENCE.
        </p>
        <h1 class="sub-title">Types of Information Collected</h1>
        <h1 class="sub-title indent-1">Personal Information</h1>
        <p class="modal-text indent-1">
          Valyrian may ask you for some or all of the following types of information which may be identifiable to you when you register for our Services, or directly contact the site: 
          (i) contact information, such as your email address and name; 
          </br>
          (ii) your age; and 
          </br>
          (iii) information for the purpose of authenticating yourself or your account if we have reason to believe, in our sole discretion, that you may be violating site policies or for any other reason we deem necessary (collectively "Personal Information"). 
          </br>
          You are responsible for ensuring the accuracy of all Personal Information you submit to Valyrian.
          </br>
          </br>
          We also collect and store the Personal Information you voluntarily submit to us through registering with us or uploading or posting User Content through the Sites, or registering for Services. If you are signed into your Tumblr, Twitter or Facebook account and you "like" or "comment" on Valyrian Content (such as the articles found on our newsletters) or other User Content, your Tumblr, Twitter or Facebook username will be displayed and so available to the public. You agree that your username, likes, feedback, and any associated comments may become public information; we therefore urge you to exercise caution when deciding to disclose any Personal Information on the Sites or through the Services.
        </p>
        <h1 class="sub-title indent-1">Non-Personal Information</h1>
        <h1 class="sub-title indent-2">Cookies and Other Technologies.</h1>
        <p class="modal-text indent-2">We may utilize cookies and other technologies, such as, web beacons (also known as "clear gifs" and "pixel tags") to recognize you, customize your experience, and serve advertisements. Cookies are very small files placed on your computer, and they allow us to count the number of visitors to the Sites and distinguish repeat visitors from new visitors. They also allow us to save User preferences and track User trends. We may also enable advertisers and ad servers to promote third party products and/or services by placing advertisements on Valyrian. These advertisers and ad servers may use cookies and/or web beacons to monitor information related to served advertisements. These cookies allow the ad server to recognize your computer each time they send you an online advertisement to compile information about you or others who use your computer. This information allows ad networks to, among other things, deliver targeted advertisements that they believe will be of most interest to you. This Policy covers the use of cookies by Valyrian and does not cover the use of cookies by any advertisers. If you do not want us to deploy cookies in your browser, you can opt out by setting your browser to reject cookies or to notify you when a website tries to put a cookie in your browser software.  If you choose to disable cookies in your browser, you can still use the Sites and the Services, although your ability to use some of the features may be affected.</p>
        <h1 class="sub-title indent-2">Information Collected Automatically.</h1>
        <p class="modal-text indent-2">We automatically receive and collect information such as your IP address, the URLs of websites you arrive at Valyrian from or leave Valyrian to go to, your type of browser and language, access times, the content of any undeleted cookies that your browser previously accepted from us, your operating system, your mobile provider, your mobile device, and your ISP. We may use such information to better understand how Valyrian visitors use the Sites, to analyze trends, administer the website, prevent fraud, and gather broad demographic information.</p>
        <h1 class="sub-title">Our Use of Your Information</h1>
        <p class="modal-text">Our primary purpose in collecting information, both Personal Information and other, is to provide you with a safe, smooth, efficient, and customized experience. You agree that we may use your information to: provide the Services and customer support you request; troubleshoot problems and prevent potentially prohibited or illegal activities; customize, measure and improve our Sites, our Services, content and advertising; tell you about and administer our Sites or Services, targeted marketing, service updates, contests, sweepstakes, rewards, and promotional offers based on your communication preferences; monitor and enforce our Terms of Service; communicate with Users about products and/or services you may be interested in; verify your eligibility to use the Sites.</p>
        <h1 class="sub-title">Our Disclosure of Your Information</h1>
        <p class="modal-text">
          Valyrian is committed to maintaining your trust and we want you to understand when and with whom we may share information collected about you. We may disclose Personal Information and Non-Personal Information to respond to legal requirements, enforce our policies, respond to claims that a listing or other content violates the rights of others, or protect anyone's rights, property, or safety. Such information will be disclosed in accordance with applicable laws and regulations.
          </br>
          </br>
          We may also use and/or share your Personal Information, Billing Information and Non-Personal Information with, and you authorize us to use and/or share this information with:
        </p>
        <ul class="modal-list">
          <li>Service providers under contract who help with our business operations. We employ these companies and people to perform tasks on our behalf and need to share your information with them to provide products and services to you.</li>
          <li>Certain of Valyrian's program participants under confidentiality agreement, as we in our sole discretion believe necessary or appropriate in connection with an investigation of fraud, intellectual property infringement, piracy, or other unlawful activity.</li>
          <li>Our affiliates and promotional partners, so they can offer you special products, services, discounts, tickets, and other items or services.  Likewise, we may receive information from such affiliates and promotional partners to offer our Users special items or services.</li>
          <li>We may combine your information with information we collect from other companies and use it to improve and personalize our services, content and advertising.</li>
          <li>We may sell or rent your information to third parties for marketing purposes without your explicit consent.</li>
          <li>In an ongoing effort to better understand our Users, we may analyze certain Non-Personal Information in anonymized and aggregate form in order to operate, maintain, manage, and improve the Sites, the Services and/or such products and services.  This aggregate information does not identify you personally.  We may share and/or license this aggregate data to our affiliates, agents, business and promotional partners and other third parties.  We may also disclose aggregated user statistics in order to describe the Services and these products and services to current and prospective business partners and to other third parties for other lawful purposes.</li>
          <li>We may share some or all of your Information with any of our parent companies, subsidiaries, joint ventures, or other companies under common control with us.</li>
          <li>As we develop our businesses, we might sell or buy businesses or assets.  In the event of a corporate sale, merger, reorganization, sale of assets, dissolution, or similar event, the Information may be part of the transferred assets.</li>
          <li>If you do not wish to receive marketing communications from us or participate in our ad-customization programs, simply indicate your preference or by following the directions provided with the communication or advertisement.</li>
        </ul>
        <h1 class="sub-title">No Spam or Spyware.</h1>
        <p class="modal-text">We do not tolerate spam. Spamming is explicitly prohibited it by our Terms of Service. If you would like to report an incident of spamming or other unauthorized communications from other Users, please contact us at hello@valyrianmedia.com. We maintain the right to investigate such incidents and take suitable action.</p>
        <h1 class="sub-title">Account Protection</h1>
        <p class="modal-text">We take commercially reasonable steps to protect your information from loss, misuse, and unauthorized access, disclosure, alteration, or destruction. Nevertheless, no transmission over the Internet and no data storage method can be guaranteed to be safe 100% of the time. Valyrian cannot ensure or warrant the security of any information you transmit to Valyrian or guarantee that your end user data stored on the Sites or the Services may not be accessed, disclosed, altered, or destroyed by breach of any of our industry standard physical, technical, or managerial safeguards.  In particular, e-mail sent to us may not be secure, and you should therefore take special care in deciding what information you send to us via e-mail. The Sites are hosted on servers in the United States. Accordingly, if you are located outside of the United States, any information you provide to us will be transferred to the United States. By providing us with any information, you consent to its transfer and storage in the United States.</p>
        <h1 class="sub-title">Email Communications</h1>
        <p class="modal-text">
          We may use your email to deliver newsletters you subscribed to, as well as for other promotional (e.g., new product offerings, special offers by us or other third parties) purposes. Email messages we send you may contain code that enables our database to track your usage of the emails we send you, such usage includes whether the email was opened and what links (if any) were clicked. If you send an email to us, or fill out our "Feedback" form, we will collect your email address and the full content of your email, including attached files, and other information you provide.
          </br>
          </br>
          You may indicate your preference to opt out of receiving promotional communications by following the unsubscribe instructions provided in the promotional email you receive or by contacting us directly at hello@Valyrianmedia.com. You acknowledge that it may take up to 10 days for us to process an opt-out request. Please note, however, that you cannot opt out of receiving transactional emails related to your account with us.
        </p>
        <h1 class="sub-title">Third Parties</h1>
        <p class="modal-text">Except as otherwise expressly included in this Policy, this document addresses only the use and disclosure of information we collect from you. If you disclose your information to others Users on our Sites or on other sites throughout the internet, different rules may apply to their use or disclosure of the information you disclose to them. We do not control the privacy policies of third parties, and you are subject to the privacy policies of those third parties where applicable. We are not responsible for any information we do not collect. We encourage you to ask questions before you disclose your Personal Information to others.</p>
        <h1 class="sub-title">Children</h1>
        <p class="modal-text">Protecting the privacy of young children is especially important to us. For that reason, Valyrian does not knowingly collect or solicit Personal Information from anyone under the age of 13. If you are under 13, please do not give us any Personal Information.  We encourage parents and legal guardians to monitor their children's Internet usage and to help enforce our Privacy Policy by instructing their children never to provide Personal Information through the Site  without their permission.  If you have reason to believe that a child under the age of 13 has provided Personal Information to us, please contact us, and we will endeavor to delete that information from our databases.</p>
        <h1 class="sub-title">California Residents</h1>
        <p class="modal-text">
          California Civil Code Section 1798.83 permits residents of the State of California to request certain information regarding our disclosure of Personal Information to third parties for their direct marketing purposes. To make such a request, please email us at hello@Valyrianmedia.com or write us at: Valyrian Media, Inc., Attn: Legal - California Privacy Compliance, 270 Lafayette St, Suite 1105, New York, New York, 10012.
          </br>
          </br>
          In addition, Valyrian does not monitor, recognize, or honor any opt-out or do not track mechanisms, including general web browser "Do Not Track" settings and/or signals
        </p>
        <h1 class="sub-title">Changes to this Policy</h1>
        <p class="modal-text">We reserve the right, at any time, to add to, change, update, or modify this Policy. Any such changes to this Policy will be posted here on our Sites so we urge to please visit this page frequently. In all cases, use of information we collect is subject to the Policy in effect at the time such information is collected. Please refer back to this Privacy Policy on a regular basis.</p>
        <h1 class="sub-title">How to Contact Us</h1>
        <p class="modal-text">If you have questions about this Privacy Policy, please contact Valyrian via e-mail at hello@Valyrianmedia.com with "Privacy Policy" in the subject line. Copyright © 2016 Valyrian Media, Inc. All Rights Reserved.</p>


      </div>
    </div>
  </div>
</div>