<!-- Modal -->
<div class="modal fade" id="sampleModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Sample Issue</h4>
      </div>
      <div class="modal-body">
        <div class="iframe-hider">
          <h1 class="sample openSans col-xs-12 col-xs-offset-0">Where you need to visit next</h1>
        </div>
        <iframe scrolling="no" src="http://mailchi.mp/b49b7858b857/experiencetheworld-340753?e=99eaecdc33" class="col-sm-12 iframe" frameborder="no">
      </div>
    </div>
  </div>
</div>