<!-- Modal -->
<div class="modal fade" id="termsModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Terms Of Use</h4>
      </div>
      <div class="modal-body">
        <p class="modal-text">
          The following terms and conditions (the "Terms of Service" or "Agreement") constitute an agreement between you, whether as a casual visitor or a registered user ("User", "you" or "your") and Valyrian Media Inc. and its media properties, affiliates, successors and assigns ("Valyrian", "us", "our" or 'we") regarding your use of Valyrian Sites and/or Services (all as defined below).  Valyrian is the owner and operator of the following websites: www.pawzandplay.com; www.thewanderfull.com; www.captrobot.com; www.fashionrulesapply.com www.valyrianmedia.com, (Collectively ‘the Sites”). Valyrian is the owner of the following newsletters: Wanderfull; Pawz and Play; Captain Robot; Fashion Rules Apply, and any related communications provided through these properties or otherwise by Us (collectively, the "Services"), and all content and features contained in the foregoing. 
          </br>
          </br>
          BY ACCESSING THE SITE, ACCESSING, OR UTILIZING ANY OF THE SERVICES AND/OR REGISTERING WITH US, YOU SIGNIFY THAT YOU HAVE READ, UNDERSTOOD AND AGREE TO BE BOUND BY THESE TERMS OF SERVICE INCLUDING OUR PRIVACY POLICY, WHICH IS INCORPORATED HEREIN BY REFERENCE.
          THE SECTIONS BELOW TITLED "BINDING ARBITRATION" AND "CLASS ACTION WAIVER" CONTAIN A BINDING ARBITRATION AGREEMENT AND CLASS ACTION WAIVER.  THEY AFFECT YOUR LEGAL RIGHTS.  PLEASE READ THEM.
        </p>
        <h1 class="sub-title">Modifications to the Terms of Service</h1>
        <p class="modal-text">
          Valyrian, in its sole and absolute discretion, may make changes or modifications to the Site, the Services, or to this Agreement (including any policies or agreements which are incorporated by reference herein) at any time and without prior notice to you, and such changes or modifications shall be effective immediately upon posting to the Sites. You acknowledge and agree that (i) Valyrian may notify you of such changes or modifications by posting them to the Sites and (ii) your use of the Sites or the Services after such changes or modifications have been made (as indicated by the "Last Revised" date at the top of this page) shall constitute your acceptance of this Agreement as last revised. In addition, Valyrian may occasionally notify you of upcoming changes or modifications to this Agreement by email. We therefore recommend that you keep your account information including, but not limited to, your email address, current.
        </p>
        <h1 class="sub-title">Eligibility; Registration</h1>
        <p class="modal-text">
          The Sites and the Services are available only to Users who can form legally binding contracts under applicable law. By using the Sites and the Services, you represent and warrant that you are at least eighteen (18) years of age.
          </br>
          </br>
          If you are visiting the Sites  from a country other than the country in which our servers are located, your communications with us may result in the transfer of information (including your registration or Personal information, as described below) across international boundaries. By visiting the Sites  and communicating electronically with us, you consent to such transfers.
        </p>
        <h1 class="sub-title">Your Use of the Site and the Services</h1>
        <p class="modal-text">
          Valyrian's community, like any community, functions best when its Users follow a few simple rules.  By accessing and/or using the Site or any Services, you agree to comply with these community guidelines (the "Community Guidelines") and that:
        </p>
        <ul class="modal-list">
          <li>Your use of the Site and the Services including any content you submit, will comply with this Agreement and all applicable local, state, national and international laws, rules and regulations; </li>
          <li>You will not impersonate another User or entity or falsely state or otherwise misrepresent your affiliation with a person or entity, nor will you collect or harvest (or permit anyone else to collect or harvest) any User Content (as defined below) or any non-public or personally identifiable information about another User or any other person or entity without their express prior written consent; </li>
          <li>You will not use the Sites and the Services in a manner (as determined by Valyrian in its sole and absolute discretion) that is illegal, infringing, defamatory, harassing, or abusive, that violates the privacy or publicity rights of another User or any other third party,  or that is otherwise objectionable;. </li>
          <li>You will not use the Sites and the Services for hate speech, hate crimes or violence;</li>
          <li>You will not use the Sites and the Services to send spam or other unsolicited bulk email, for computer or network hacking or cracking, or to transmit any viruses, worms, bugs, Trojan horses or other code, files or programs designed to, or capable of, disrupting, damaging or limiting the functionality or security of the Sites or the Services; </li>
          <li>You will not copy or distribute in any medium any part of the Sites or the Services, except where expressly authorized by Valyrian;</li>
          <li>You will not access Valyrian Content or User Content (as those terms are defined below) through any technology or means other than through the Sites or App itself, or as Valyrian may designate;</li>
          <li>You will not use the Sites and the Services, including any of Valyrian's related technologies, for any commercial use without Valyrian's express prior written consent; </li>
          <li>And you will not take any action that imposes or may impose (in our sole discretion) an unreasonable or disproportionately large load on our technical infrastructure.</li>
        </ul>
        <p class="modal-text">Valyrian reserves the right to modify, change, or discontinue any aspect of the Sites and the Services at any time.</p>
        <h1 class="sub-title">Sign-in Name; Password, Unique Identifiers</h1>
        <p class="modal-text">You may be asked to register in order to access certain Services. When creating your account, you agree to provide accurate, current and complete information about yourself and to promptly update this information to maintain its accuracy. Valyrian will not be liable for any loss or damage caused by any unauthorized use of your registration information. Valyrian has the right to delete, change, suspend or terminate your registration, your Sign-In Name and Password, and/or this Agreement in our sole discretion at any time and for any reason, and to refuse any and all current or future use of the Services if it suspects that such information is inaccurate or incomplete.</p>
        <h1 class="sub-title">Our Monitoring of User Content</h1>
        <p class="modal-text">Valyrian reserves the right, but has no obligation, to pre-screen User Content and decide whether any item of User Content is appropriate and/or complies with this Agreement. Valyrian may remove any item of User Content (in the case of Off-Site User Content, remove any repost or publication of such Off-Site User Content from a Third Party Platform, the Site ) and/or terminate a User's access to the Sites and the Services for posting or publishing any material in violation of this Agreement, or for otherwise violating this Agreement (as determined by Valyrian in its sole and absolute discretion), at any time and without prior notice. If Valyrian terminates your access to the Sites and the Services Valyrian may, in its sole and absolute discretion, remove and destroy any data and files stored by you on its servers.</p>
        <h1 class="sub-title">Copyright Infringement</h1>
        <p class="modal-text">Valyrian has adopted the following general policy toward copyright infringement in accordance with the Digital Millennium Copyright Act ("DMCA"). It is Valyrian's policy to (a) block access to or remove material that it believes in good faith to be copyrighted material that has been illegally copied and distributed by any of our advertisers, affiliates, content providers or Users; and (b) remove and discontinue service to repeat offenders.</p>        
        <h1 class="sub-title">Written Notification</h1>
        <p class="modal-text">If you believe that your content has been copied in a way that constitutes copyright infringement, please notify our Copyright Agent by emailing us at hello@valyrianmedia.com. Valyrian will respond to notices of alleged infringement regarding third party material sent pursuant to and in accordance with the DMCA, which may include Valyrian removing or disabling access to Third Party material claimed to be the subject of infringement or other activity. All notices sent to Valyrian regarding matters other than informing Valyrian that a party's copyrighted material may have been infringed as a result of third party materials will not receive a response through this process. In order to be effective, your infringement notification must include the following:</p>
        <h1 class="sub-title">Counter Notification</h1>
        <p class="modal-text">
          If you believe that your work has been removed or disabled by mistake or misidentification, please notify our Copyright Agent by emailing us at hello@valyrianmedia.com. To be effective, a Counter Notification must be a written communication that includes substantially the following:
          </br>
          </br>
          Upon receipt of a valid Counter Notification containing the information as outlined above, the DMCA provides that the removed material will be restored or access re-enabled and Valyrian will comply with this requirement within a reasonable time (or as otherwise required by law), provided Valyrian's Copyright Agent has not received notice from the original complaining party that an action has been filed seeking a court order to restrain User from engaging in infringing activity relating to the material on Valyrian's network or system.
        </p>
        <p class="modal-text">
        To contact our Copyright Agent by regular mail, please write to:
        </br>
        Copyright Agent
        </br>
        270 Lafayette St
        </br>
        Suite 1105
        </br>
        New York, NY 10012
        </p>
        <h1 class="sub-title">Links to Third-Party Websites</h1>
        <p class="modal-text">The Sites and the Services may contain links to third-party websites that are not owned or controlled by Valyrian. These links are provided solely as a convenience to you and do not constitute an endorsement by Valyrian of the content on such websites nor of the business practices of those operating those websites. Valyrian has no control over and assumes no responsibility for the content, terms and conditions, privacy policies, or practices of any third-party websites. In addition, Valyrian does not censor or edit the content of any third-party websites. By using the Sites and the Services, you expressly release Valyrian from any and all liability arising from your use of any third-party website. Accordingly, Valyrian encourages you to be aware when you leave the Sites and the Services and to review the terms and conditions, privacy policies, and other governing documents of each other website that you may visit.</p>
        <h1 class="sub-title">Indemnity</h1>
        <p class="modal-text">You agree to indemnify and hold harmless Valyrian, its and affiliates, and their directors, officers, managers, employees, shareholders, agents, and licensors, from and against all claims, demands, disputes, losses, expenses, damages, and costs, including reasonable attorneys' fees, arising out of or in relation to your breach of these Terms or your misuse of the Site, the Services, or any Valyrian Content. Valyrian reserves the right to assume the exclusive defense of any claim for which we are entitled to indemnification under this Section. In such event, you shall provide us with such cooperation as is reasonably requested by us.</p>
        <h1 class="sub-title">Disclaimer of Warranties and Limitation of Liability</h1>
        <p class="modal-text">
          THE SITES, THE SERVICES AND ALL VALYRIAN CONTENT ARE AVAILABLE "AS IS." VALYRIAN DOES NOT WARRANT THAT THE SITES, THE SERVICES OR ANY VALYRIAN CONTENT WILL BE UNINTERRUPTED OR ERROR-FREE. THERE MAY BE DELAYS, OMISSIONS, INTERRUPTIONS, AND INACCURACIES IN THE NEWS, INFORMATION, OR OTHER MATERIALS AVAILABLE THROUGH THE SITES, THE SERVICES, ANY BETA FEATURES OR ANY VALYRIAN CONTENT.
          </br>
          </br>
          WE DISCLAIM ALL WARRANTIES, INCLUDING WITHOUT LIMITATION, THOSE OF NON-INFRINGEMENT, MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, AND ANY WARRANTIES ARISING FROM A COURSE OF DEALING, COURSE OF PERFORMANCE, OR USAGE OF TRADE WITH RESPECT TO THE SITES, THE SERVICES, ANY VALYRIAN CONTENT OR ANY INFORMATION OR GOODS THAT ARE AVAILABLE OR ADVERTISED OR SOLD THROUGH THE SITES, THE SERVICES OR ANY VALYRIAN CONTENT. WE DO NOT PROVIDE OR AUTHORIZE THE PROVISION OF MEDICAL, LEGAL, OR OTHER PROFESSIONAL ADVICE THROUGH THE SITES, THE SERVICES, OR ANY VALYRIAN CONTENT, AND SO WE DISCLAIM ANY RESPONSIBILITY FOR THE ACCURACY OR RELIABILITY OF MEDICAL, LEGAL, OR OTHER PROFESSIONAL INFORMATION THAT IS CONTAINED WITHIN THE SITES, THE SERVICES, OR ANY VALYRIAN CONTENT; RATHER THAN RELYING ON THIS INFORMATION, YOU SHOULD SEEK ADVICE FROM A QUALIFIED PROFESSIONAL. WE DO NOT MAKE ANY REPRESENTATIONS REGARDING, NOR DO WE ENDORSE THE ACCURACY, COMPLETENESS, TIMELINESS, OR RELIABILITY OF ANY ADVICE, OPINION, STATEMENT, OR OTHER MATERIAL OR DATABASE DISPLAYED, UPLOADED, OR DISTRIBUTED IN THE SERVICES, THE SITES, OR AVAILABLE THROUGH LINKS IN THE FOREGOING. WE RESERVE THE RIGHT TO CORRECT ANY ERRORS OR OMISSIONS IN THE SITES AND THE SERVICES. WE DO NOT GUARANTEE OR WARRANT THAT THE SERVICES, THE SITES, OR MATERIALS THAT MAY BE DOWNLOADED FROM THE FOREGOING DO NOT CONTAIN VIRUSES, WORMS, "TROJAN HORSES," OR OTHER DESTRUCTIVE MATERIALS. WE ARE NOT LIABLE FOR ANY DAMAGES OR HARM ATTRIBUTABLE TO SUCH FEATURES.
          IN CONNECTION WITH ANY WARRANTY, CONTRACT, OR COMMON LAW TORT CLAIMS, Valyrian, its affiliates, and their directors, officers, managers, employees, shareholders, agents, and licensors: SHALL NOT BE LIABLE FOR ANY INCIDENTAL OR CONSEQUENTIAL DAMAGES, LOST PROFITS, OR DAMAGES RESULTING FROM LOST DATA OR BUSINESS INTERRUPTION RESULTING FROM THE USE OR INABILITY TO ACCESS AND USE THE PLATFORM OR THE CONTENT, EVEN IF WE HAVE BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES
        </p>
        <h1 class="sub-title">Limitation of Liability in Certain States</h1>
        <p class="modal-text">CERTAIN STATE LAWS IN THE UNITED STATES DO NOT ALLOW LIMITATIONS ON IMPLIED WARRANTIES. IF THESE LAWS APPLY TO YOU, SOME OR ALL OF THE ABOVE LIMITATIONS ON WARRANTIES MAY NOT APPLY TO YOU, AND YOU MIGHT HAVE ADDITIONAL RIGHTS.</p>
        <h1 class="sub-title">Binding Arbitration</h1>
        <p class="modal-text">Except for disputes arising from an alleged violation of intellectual property rights or breach of confidentiality, for which the injured party may suffer irreparable harm and may seek a restraining order, preliminary injunctive relief, an injunction, specific performance or other equitable relief and/or legal remedies, and actions to enforce the decisions of the arbitrators, for which action may be taken in any court of competent jurisdiction, in the County of New York, in the State of New York, and you hereby consent to (and waive all defenses of lack of personal jurisdiction and forum non conveniens with respect to) to waive the right to trial by jury in any such action or proceeding that takes place relating to or arising out of this Agreement, all disputes arising out of or related to this Agreement, including the scope, the construction or application of this Agreement, shall be resolved by binding arbitration governed by the Federal Arbitration Act and in accordance with the commercial arbitration rules of the Judicial Arbitration and Mediation Services ("JAMS") then in force. NEITHER PARTY SHALL HAVE THE RIGHT TO LITIGATE SUCH DISPUTE IN COURT OR TO HAVE A JURY TRIAL. DISCOVERY AND APPEAL RIGHTS MAY ALSO BE LIMITED IN ARBITRATION. The arbitration hearings and all meetings pursuant to this section shall be held in New York County, in the State of New York. If the parties cannot agree upon a single arbitrator within twenty (20) calendar days after demand by either of them, each party shall select one arbitrator knowledgeable about Internet commerce in New York, and notify the other of its selection, and such two arbitrators shall select a third from a list of arbitrators (with knowledge of the Internet industry) qualified by JAMS in New York. If this procedure for selecting arbitrators fails, then a neutral arbitrator based in New York with knowledge of Internet commerce in New York State shall be selected by JAMS to resolve the dispute. The arbitrator(s) shall conduct a hearing within sixty (60) days after their selection. A majority of the arbitrators (if there is more than one pursuant to this clause) shall determine the decision/award, which shall be rendered within ten (10) days after the completion of the hearing. The decision of the arbitrator(s) shall be final and binding upon the parties both as to law and to fact, and shall not be appealable to any court in any jurisdiction. The parties shall share the expenses of the arbitrators equally. Nothing in any indemnification provision hereunder shall be construed as having any bearing on the award of attorneys' fees or arbitrators' fees under this section.</p>
        <h1 class="sub-title">Class Action Waiver</h1>
        <p class="modal-text">You agree that any arbitration or proceeding shall be limited to the dispute between us and you individually. To the full extent permitted by law, (i) no arbitration or proceeding shall be joined with any other; (ii) there is no right or authority for any dispute to be arbitrated or resolved on a class action-basis or to utilize class action procedures; and (iii) there is no right or authority for any dispute to be brought in a purported representative capacity on behalf of the general public or any other persons. YOU AGREE THAT Any controversy or claim shall be arbitrated on an individual basis and shall not be consolidated in any arbitration with any claim or controversy of any other party, unless agreed to by Valyrian at ITS sole discretion.</p>
        <h1 class="sub-title">Miscellaneous</h1>
        <p class="modal-text">Nothing in this Agreement shall be deemed to confer any third-party rights or benefits. This Agreement shall be binding upon and inure to the benefit of the parties hereto and their respective heirs, successors and assigns. This Agreement shall be governed by and construed in accordance with the laws of the State of New York without regard to conflict of laws principles. The titles and headings of this Agreement are for convenience and ease of reference only and shall not be utilized in any way to construe or interpret the agreement of the parties as otherwise set forth herein. This section and the sections entitled Beta Features, Intellectual Property, Indemnity, Disclaimer of Warranties and Limitation of Liability, Binding Arbitration and Class Action Waiver shall survive the termination of this Agreement. Each covenant and agreement in this Agreement shall be construed for all purposes to be a separate and independent covenant or agreement. Neither the course of conduct between parties nor trade practice shall act to modify any provision of this Agreement. This Agreement contains the entire agreement of the parties concerning the subject matter, and supersedes all existing agreements and all other oral, written or other communication between the parties concerning its subject matter.</p>
        <h1 class="sub-title">Contact Information</h1>
        <p class="modal-text">
          If you have any questions about this Agreement, please contact us via email at hello@valyrianmedia.com or regular mail at the following address:
          </br>
          Valyrian Media, Inc.
          </br>
          Attn: Legal
          </br>
          270 Lafayette St
          </br>
          Suite 1105
          </br>
          New York, NY 10012
          </br>
          Copyright © 2016 Valyrian, Inc. All Rights Reserved.
        </p>
      </div>
    </div>
  </div>
</div>